.App {
  text-align: center;
}

.parent-div {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.center-align {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  color: #d3d3d3;
  text-shadow: 1px 1px #000;
}

a {
  color: #d3d3d3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
